<link href="{{ 'styles-my-rewards.css' | asset_url }}" rel="stylesheet">

<div class="my-rewards-content">
  <h3 class="my-rewards-title">{{ 'loyalty_widget.pages.my_rewards.title' | t }}</h3>
  <div class="my-rewards-features">
    <p class="my-rewards-item">{{ 'loyalty_widget.pages.my_rewards.first_feature' | t }}</p>
  </div>
  <div class="my-rewards-list" id="my-rewards-list">
    <div class="my-reward-card">
      <p>{{ 'loyalty_widget.other.loading_tasks' | t }}</p>
    </div>
  </div>
</div>

