/* Earn points content container */
.earn-points-content {
  font-family: var(--font-family-basic), sans-serif;
}

.earn-points-title {
  color: #000000;
  font-family: var(--font-family-basic), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.earn-points-features {
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.earn-points-item {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
}

/* Tasks container */
.earn-points-tasks {
  display: flex;
  justify-content: space-between;
}

.earn-points-task-icon {
  width: 33px;
  height: 33px;
  object-fit: contain;
  flex-shrink: 0;
}

.task-card-earn-points {
  height: 133px;
  position: relative;
  width: 159px;
  border-radius: 20px;
  background-color: var(--color-basic);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.task-card-earn-points p {
  margin: 0;
  font-family: var(--font-family-basic), sans-serif;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.task-card-earn-points-text p:first-of-type {
  font-size: 16px;
  margin-bottom: 5px;
}
.task-card-earn-points-text p:last-of-type {
  font-size: 12px;
}

.task-card-earn-points a {
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 20px;
  background-color: black;
  width: 101px;
  height: 29px;
  color: white;
  font-family: var(--font-family-basic), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card-earn-points:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.task-card-earn-points.fidelity-completed {
  filter: grayscale(50%);
}

.task-card-earn-points.fidelity-completed::after {
  content: "Completed ✅";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(89 95 49 / 71%);
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
  -webkit-text-stroke: 0.5px #2c2c2c;
}

.task-card-earn-points p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
}

/* ==================== MOBILE STYLES ==================== */
@media screen and (max-width: 768px) {
  .earn-points-tasks {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .tasks-container {
    gap: 15px;
    align-items: center;
  }
  .earn-points-task-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    flex-shrink: 0;
    margin-bottom: 7px;
  }
  .task-card-earn-points {
    width: 100%;
    max-width: 130px;
    margin: 10px;
  }

  .task-card-earn-points.fidelity-completed::after {
    text-align: center;
    font-size: 15px;
  }

  .program-title {
    font-size: 20px;
  }

  .feature-item {
    font-size: 15px;
    line-height: 20px;
  }
}
